/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --background-color: #fff;
  --primary-color: #000957;
  --hover-color: #577bc1;
  --secondary-color: #ffeb00;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style navbar */
nav {
  position: fixed;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  box-shadow: 3px 3px 8px 0px rgba(187, 213, 239, 0.3);
}

nav .logo img {
  height: 50px;
  width: auto;
}

/* Style navbar desktop */
nav ul.desktop-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Style list menu */
nav ul li a {
  color: var(--primary-color);
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width 0.5s ease;
}

nav ul li a:hover {
  color: var(--hover-color);
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li button {
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  color: var(--background-color);
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

nav ul li button:hover {
  color: var(--background-color);
  background-color: var(--hover-color);
}

/* Style hamburger-menu */
.hamburger-menu {
  width: 30px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger-menu .bar {
  height: 3px;
  width: 100%;
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.hamburger-menu.is-active .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.hamburger-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.is-active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Style navbar mobile */
nav ul.mobile-menu {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 1.5rem;
  width: 300px;
  background-color: var(--background-color);
  border-right: 2px solid var(--primary-color);
  box-shadow: 3px 3px 8px 0px rgba(187, 213, 239, 0.3);
  transition: ease-in-out;
}



nav ul.mobile-menu.is-open {
  display: flex;
}

/* Ukuran Tablet */
@media (max-width: 767px) {
  nav ul.desktop-menu li {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
}

/* Ukuran Handphone */
@media (max-width: 480px) {
  nav ul.mobile-menu {
    width: 100%;
    height: 70vh;
    border-right: 0px;
    border-bottom: 2px solid var(--primary-color);
  }
  nav ul.mobile-menu .close-btn{
  content: "V";
  position: absolute;
  text-align: center;
  bottom: -15px;
  padding: 0.3rem;
  border-radius: 50px;
  width: 1.3rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
}
}
